.confirm-modal-buttons {
  float: right;
}

.active-promotions {
  padding-bottom: 40px;
}

.hidden-form {
  display: inline-block;
}

.disable-button {
  border: .1rem solid #e74c3c !important;
  outline-color: #e74c3c !important;
  background-color: #e74c3c !important;
}

.enable-button {
  border: .1rem solid #27ae60 !important;
  outline-color: #27ae60 !important;
  background-color: #27ae60 !important;
}

.tile-subtitle {
  padding-bottom: 10px;
}

.promotion-wrapper {
  padding-bottom: 20px;
}

.all-promotions-wrapper {
  margin-left: 20px;
  margin-top: 40px;
}